
.login{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/public/images/login_page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(2px);
}
.login .brand_name img{
    margin-bottom: 30px;
    width: 200px;
}

.login .input{
    background-color: #bdbdbd3b;
    border-radius: 4px;
    margin: 5px 0;
    width: 230px;
}
.login .btn{
    margin-top: 5px;
}

.login .help_buttons .btn{
    font-size: 10px;
    padding-right: 0;
    padding-left: 0;
}