.wrapper{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    padding-right: 5px;
    box-sizing: border-box;
    background: rgb(255 195 234 / 9%);
    border-radius: 15px;
}