.chat {
    display: flex;
    justify-content: space-between;
}

/* message panel */

.header {
    margin-bottom: 10px;
    background: #29171a;
    padding: 8px;
    border-radius: 10px;
}

.header .contact_name_status {
    margin-left: 10px;
}

.header .contact_name_status .active_badge {
    position: relative;
}

.header .last_seen {
    font-size: 10px;
    color: #ddd;
    text-align: left;
}


.messages_panel {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.messages_panel .messages_container {
    overflow-y: scroll;
    max-height: 68vh;
}


.messages_container .receive_message {
    align-self: flex-start;
}

.messages_container .send_message {
    align-self: flex-end;
}

.message_panel .message_value {
    text-align: left;
    padding: 10px;
    padding-right: 30px;
    border-radius: 10px;
    font-size: 12px;
    max-width: 250px;
}

.message_panel .profile_avatar_small {
    align-self: flex-start;
}

.receive_message,
.send_message {
    margin: 0 10px;
}

.receive_message .message_body .message_value {
    border-top-left-radius: 0;
    margin-left: 10px;
    background: #3e3e3e54;
}

.send_message .message_body .message_value {
    border-top-right-radius: 0;
    margin-right: 10px;
    background: linear-gradient(to right, var(--main_color_light), var(--main_color));
}

.receive_message .message_body {
    align-items: flex-end;
}

.send_message .message_body {
    align-items: flex-start;
}

.message_date {
    font-size: 10px;
    color: #dddddda3;
}


.messages_panel .input_panel {
    border-radius: 10px;
    padding: 5px;
    background: #29171a;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.messages_panel .input_panel i {
    font-size: 18px;
}