.people .header {
    background-color: #29171a;
    padding: 5px 10px;
    border-radius: 10px;
}

.card_header{
    height: 50px;
    position: relative;
}
.card_header::after{
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.people .title {
    font-size: 1rem;
}

.people .search_container input,
.people .search_container button {
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.people .people_card_container{
    margin-top: 10px;
    flex-flow: wrap;
    height: 80vh;
    overflow-y: scroll;
}

.people .people_card{
    width: 150px;
    height: 180px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #3e34de92;
    background-color: rgba(221, 221, 221, 0.09);
    flex-shrink: 0;
}
.people .profile_avatar{
    border: 2px solid var(--main_color);
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
.people .people_card .profile_picture .profile_img_container{
    flex-direction: column;
    position: absolute;
    top: -20px;
    left: 45px;
}
.people .title{
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 5px;
}

.people .profile_info{
    text-align: center;
    padding-top: 30px;
}
.people .connections_posts .container{
    margin: 0 10px;
}

.people .connections_posts span{
    font-size: 10px;
}
.people .connection_buttons button{
    margin-top: 10px;
    padding: 4px 5px;
}