
.header_image{
    height: 150px;
    position: relative;
}
.header_image::after{
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background);
}

.profile .profile_header .profile_picture{
    position: absolute;
    bottom: -25px;
    left: 20px;
    z-index: 10;
}

.profile .profile_header .profile_picture .profile_img_container{
    width: 100px;
    height: 100px;
}

.profile .profile_header .profile_img_container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    
}
.user_profile_info .username{
    font-size: 1rem;
    margin-left: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.profile_menu{
    background: #00000052;
}
.profile_menu li{
    user-select: none;
    padding : 10px 10px;
    font-size: 12px;
    cursor: pointer;
    color: #7a7a7a;
    font-weight: 500;
    z-index: 20;
}

.profile_menu .active{
    position: relative;
    background: rgba(221, 221, 221, 0.24)!important;
    color: #fff;
    transition: all .3s cubic-bezier(0.4, 0, 1, 1);
}

.profile_menu .active::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--main_color);
}

.profile .menu_body{
    padding-top: 20px;
    width: 100%;
}