.btn {
    min-width: max-content;
    outline: none;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

.general{
    background: linear-gradient(to right, var(--main_color_light), var(--main_color));
}