.main_header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    padding:5px 10px;
}

