.navbar {
    width: 160px;
    padding: 10px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #363b5e45;
}
.brand_logo{
    width: 150px;
    user-select: none;
    -webkit-user-drag: none;
}



.navbar ul{
    margin-top: 50px;
    list-style: none;
}
.navbar ul li{
    text-align: left;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    user-select: none;
    font-size: 20px;

}
ul li span{
    font-weight: 300;
    font-size: 14px;
    padding: 0 10px;
}
ul li a{
    display: flex;
    align-items: center;
}

.active, .navbar ul li:hover{
    cursor: pointer;
    position: relative;
    background: linear-gradient(to right, var(--main_color_light), var(--main_color));
}


