.navbar {
    width: 160px;
    padding: 10px;
    background-color: transparent;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    border-right: 1px solid #363b5e45;
}

.navbar .profile_account{
    margin-top: 20px;
    width: 85px;
    height: 85px;
    border: 3px solid var(--main_color);
    border-radius: 50%;
}
.navbar .profile_container .profile_image_main{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.navbar .profile_container .username{
    font-size: 1rem;
}


.navbar .menu{
    margin-top: 50px;
    list-style: none;
}
.navbar .menu li{
    margin: 4px 0;
    text-align: left;
    border-radius: 10px;
    border: 1px solid transparent;
    user-select: none;
    font-size: 20px;

}
.menu li span{
    font-weight: 300;
    font-size: 14px;
    padding: 0 10px;
}
.menu li a{
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

.active, .navbar .menu li:hover{
    cursor: pointer;
    position: relative;
    background: linear-gradient(to right, var(--main_color_light), var(--main_color));
}


