.notification_area {
    width: 240px;
    padding: 0 10px;
    background-color: transparent;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    border-left: 1px solid #363b5e45;
}

.box_style{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(221, 221, 221, 0.09);
    margin-bottom: 10px;

}

.requests h2{
    text-align: left;
    margin-left: 10px;
    line-height: 16px;
}



.request{
    align-items: flex-start;
}

.name_request{
    text-align: left;
    margin-left: 10px;
    line-height: 16px;
}
.name_request span{
    font-size: 12px;
    font-weight: 100;
    color: #ddd;
}

.accept_reject_container {
    justify-content: space-evenly;
}
.accept_reject_container button{
    padding: 4px 20px;
    width: 100px;
}


.section_splitor .header_container{
    justify-content: space-between;
}

.section_splitor h3{
    text-align: left;
    font-size: 14px;
    margin: 10px 0;
}
.section_splitor .total_budge{
    padding: 0px 10px;
    max-width: min-content;
    border-radius: 5px;
    background: var(--light_red);
    font-size: 10px;
}

.contacts_container .profile_account{
    margin: 10px 0;
}


