.notification_area {
    width: 240px;
    padding: 10px;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #363b5e45;
}

.notification_area .header{
    display: flex;
    justify-content: space-between;
}

.notification_area .search_bar{
    display: flex;
    align-items: center;
}

.notification_area .search_bar i{
    position: absolute;
    padding-left: 10px;
}
.notification_area .search_bar input{
    width: 120px;
    transition: width .3s cubic-bezier(0.19, 1, 0.22, 1);
    border: 1px solid #dddddd21;
    border-radius: 8px;
    outline: none;
    padding-left: 30px;
}
.notification_area .search_bar input:focus{
    width: 200px;
}


.notification_area .profile_account h3{
    padding-left: 5px;
    font-size: 12px;
    min-width: max-content;
}

.notification_area .notifications i{
    font-size: 20px;
}

.requests h2{
    text-align: left;
    margin-left: 10px;
    line-height: 16px;
}

.request{
    align-items: flex-start;
}

.name_request{
    text-align: left;
    margin-left: 10px;
    line-height: 16px;
}
.name_request span{
    font-size: 12px;
    font-weight: 100;
    color: #ddd;
}

.accept_reject_container {
    justify-content: space-evenly;
}
.accept_reject_container button{
    padding: 4px 20px;
    width: 100px;
}


.section_splitor{
    border-top: 1px solid #dddddd1f;
    margin-top: 40px;
}
.section_splitor .header_container{
    justify-content: space-between;
}

.section_splitor h3{
    text-align: left;
    font-size: 14px;
    margin: 10px 0;
}
.section_splitor .total_budge{
    padding: 0px 10px;
    max-width: min-content;
    border-radius: 5px;
    background: var(--light_red);
    font-size: 10px;
}

.contacts_container .profile_account{
    margin: 10px 0;
}


