.App {
  text-align: center;
  background: radial-gradient(#18010c, #260706, #2a3656);
  min-height: 100vh;
}

.layout{
  padding-top: 50px;
  margin: 0 260px 0 180px;
  height: 100vh;
  box-sizing: border-box;
}